In [203]:
from pymongo import MongoClient
import datetime
import numpy as np
import pandas as pd
import getpass
import json

import nltk
from nltk.stem import WordNetLemmatizer

Be sure you are connect on the **EPFL network** (connection at EPFL or via VPN)

Note on authentification:
* Your username-password pair has read-only credentials
* Use the admin user to insert, modify, or create indexes

In [204]:
database = 'ada-project'
user = input('MongoDB name: ')
password = getpass.getpass('MongoDB password: ')

MongoDB name: davidrivollet
MongoDB password: ········

In [205]:
# Mongo Client and authentification
client = MongoClient('www.cocotte-minute.ovh', 27017)
db = client[database]
db.authenticate(user, password)
collection = db['recipes']

## Finding ingredient labels

In [206]:
def tokenize_and_lemmatize(text):
    # Tokenize
    tokens_raw = nltk.regexp_tokenize(text, pattern='\w+')

    # Normalization
    tokens_norm = [t.lower() for t in tokens_raw]

    # Removing the numbers
    tokens_without_digits = [t for t in tokens_norm if t.isdigit() == False]
    
    wnl = WordNetLemmatizer()
    tokens_lemmatized = [wnl.lemmatize(t) for t in tokens_without_digits]
    
    return tokens_lemmatized

In [207]:
def count_occurences(text):
    tokens_ref = tokenize_and_lemmatize(text[0])
    
    df_occurences = pd.DataFrame({'occurence': np.zeros(len(tokens_ref))}, index = tokens_ref)
    df_occurences = df_occurences[~df_occurences.index.duplicated()]
    
    for sentence in text:
        for token in tokenize_and_lemmatize(sentence):
            found_token = False
            
            for token_ref in tokens_ref:
                if(token == token_ref):
                    occ = df_occurences.get_value(token, 'occurence')
                    df_occurences.set_value(token, 'occurence', occ + 1)
                    found_token = True
            
            if(found_token == False):
                tokens_ref.append(token)
                df_occurences.set_value(token, 'occurence', 1)

    return df_occurences

In [208]:
def define_ingredient_label(text):
    df_occurences = count_occurences(text)
    
    max_occ = df_occurences.max(axis=0).values[0]
    if max_occ < len(text):
        name_array = df_occurences[(df_occurences['occurence'] > max_occ - (max_occ/100*10))].index.values
    else:
        name_array = df_occurences[(df_occurences['occurence'] > len(text) - (len(text)/100*10))].index.values
    
    name = name_array[0]
    for word in name_array[1:]:
        name = name + " " + word
    
    return name

In [209]:
ingredients = collection.aggregate([
    {"$unwind": "$ingredients" }, 
    {"$group": 
        {"_id": "$ingredients.ingredientID",
         "doc_count": { "$sum": 1 },
         "doc_name": {"$addToSet": "$ingredients.displayValue"}
        }
    },
    {"$sort": { "doc_count":-1}}
    ])

df_ingredients = pd.DataFrame(columns=['id', 'name', 'occurence'])

i = 0;
for ingredient in ingredients:
    if(ingredient["_id"] != 0):
        i = i + 1;
        name = define_ingredient_label(ingredient["doc_name"])
        df_ingredients.loc[len(df_ingredients)] = (ingredient["_id"], name, ingredient["doc_count"])

        #if i == 10:
        #    break;
    
df_ingredients.drop(df_ingredients[df_ingredients['occurence'] < 10].index, inplace = True)

In [210]:
df_ingredients.head(10)

        id               name  occurence
0  16421.0               salt     8730.0
1   4342.0             garlic     5246.0
2   4397.0              onion     4947.0
3   2496.0              water     4583.0
4   1526.0              sugar     4371.0
5  16157.0             butter     4036.0
6  16317.0                egg     3449.0
7   1684.0  all purpose flour     3215.0
8  16406.0             pepper     3194.0
9   6307.0          olive oil     3127.0

In [211]:
len(df_ingredients)

1046

In [212]:
df_ingredients_duplicates = df_ingredients.groupby('name').count()
len(df_ingredients_duplicates)

861

In [213]:
df_ingredients_duplicates = df_ingredients_duplicates[df_ingredients_duplicates['occurence'] > 2]
df_ingredients_duplicates.head(10)

                id  occurence
name
cheese           5          5
chicken         12         12
chipotle         3          3
coconut          3          3
corn             4          4
crabmeat         3          3
cucumber         3          3
cup rice         6          6
flour tortilla   3          3
ginger           3          3

In [214]:
len(df_ingredients_duplicates)

37

## Counting number of recipes per country

In [356]:
def initialize_dataFrame(json_name):
    with open(json_name) as data_file:
        agg_data = json.load(data_file)
    
    df_countries = pd.DataFrame(columns=['country name', 'country adj', 'total recipe num'])
    df_countries.index.set_names('country tag')
    
    for country in agg_data["per_country"]:
        df_countries.set_value(country["geo_identifier"], "country name", country["geo_name"].lower())
        df_countries.set_value(country["geo_identifier"], "country adj", country["database_name"])
        df_countries.set_value(country["geo_identifier"], "total recipe num", country["nbRecipes"])
    
    return df_countries.sort_index()

In [357]:
df_countries = initialize_dataFrame('fullAggregatedData.json')

In [358]:
df_countries.head(10)

    country name  country adj total recipe num
ARG    argentina  argentinian               23
AUT      austria     austrian               30
BEL      belgium      belgian               15
BGD   bangladesh  bangladeshi               14
BRA       brazil    brazilian               88
CAN       canada     canadian             1167
CHE  switzerland        swiss               29
CHL        chile        chili               30
CHN        china      chinese              247
COL     colombia    colombian               13

## Making a recipe request by ingredient

In [359]:
def find_ingredient_ids(name):
    found_ingredients = []
    ids = []
    for ingredient in df_ingredients['name']:
        if ingredient.find(name) != -1:
            found_ingredients.append(ingredient)
    
    for value in df_ingredients[df_ingredients['name'].isin(found_ingredients)]["id"].values:
        ids.append(value)
    print(ids)
    return ids

In [360]:
def request_recipes_by_ingredient(ingredient_ids):
    recipes = collection.find(
    {"ingredients":{
            "$elemMatch": {
                "ingredientID": {"$in":ingredient_ids}
            }
        }}, 
    )
    return recipes

In [361]:
def fill_dataFrame_ingredient(df, name):
    ingredient_ids = find_ingredient_ids(name)
    recipes = request_recipes_by_ingredient(ingredient_ids)
    
    df[name + ' recipes %'] = 0
    
    for recipe in recipes:
        for country in recipe["ada-country"]:

            country_index = "Unfound"

            found_row = df[df['country adj'] == country]
            if(len(found_row) != 0):
                country_index = found_row.index.values[0]

            else:
                found_row = df[df['country name'] == country]
                if(len(found_row) != 0):
                    country_index = found_row.index.values[0]

            if(country_index != "Unfound"):
                df.set_value(country_index, 
                             name + ' recipes %', 
                             df.get_value(country_index, name + ' recipes %') + 1)
    
    df[name + ' recipes %'] = df[name + ' recipes %']/df['total recipe num'] *100
    return

In [362]:
fill_dataFrame_ingredient(df_countries, 'soy sauce')

[2882.0, 2958.0, 10274.0, 10275.0]

In [363]:
fill_dataFrame_ingredient(df_countries, 'chicken')

[6494.0, 16133.0, 20384.0, 13968.0, 6493.0, 5521.0, 6522.0, 5467.0, 5520.0, 16124.0, 6527.0, 6531.0, 5679.0, 21025.0, 6506.0, 6442.0, 10643.0, 6489.0, 6496.0, 13405.0, 6498.0, 5429.0, 6459.0, 6497.0, 5465.0, 6446.0, 6441.0, 6443.0, 21031.0, 6549.0]

In [364]:
fill_dataFrame_ingredient(df_countries, 'beef')

[3103.0, 5460.0, 3868.0, 5516.0, 13974.0, 4133.0, 3910.0, 4086.0, 4004.0, 5515.0, 3886.0, 22104.0, 3138.0, 9358.0, 7120.0, 3140.0, 4040.0, 4074.0, 9445.0]

In [365]:
fill_dataFrame_ingredient(df_countries, 'cheese')

[16238.0, 16215.0, 16234.0, 16223.0, 16225.0, 16243.0, 16231.0, 16246.0, 16218.0, 16241.0, 16244.0, 22106.0, 445.0, 16340.0, 16351.0, 16232.0, 20324.0, 16248.0, 443.0, 16210.0, 16229.0, 19360.0, 578.0, 19356.0, 454.0, 20611.0, 14388.0, 19362.0, 21130.0, 16212.0, 16217.0, 20474.0, 16360.0, 16242.0, 16366.0, 16226.0, 16236.0, 8270.0]

In [366]:
fill_dataFrame_ingredient(df_countries, 'egg')

[16317.0, 16319.0, 16318.0, 4339.0, 16323.0, 1709.0]

In [369]:
fill_dataFrame_ingredient(df_countries, 'chocolate')

[1338.0, 18521.0, 1336.0, 18526.0, 8610.0, 3507.0, 1429.0, 20199.0, 1373.0]

In [374]:
df_ingredients.loc[150:200]

          id                          name  occurence
150   4252.0                      broccoli      184.0
151   3789.0                       coconut      182.0
152  10536.0                 cooking spray      180.0
153  22005.0                        shrimp      180.0
154  16423.0                   thyme fresh      179.0
155   4339.0                      eggplant      178.0
156  20303.0                cinnamon stick      177.0
157   4577.0  ounce can diced tomato green      177.0
158  18794.0                   whole clove      176.0
159  18741.0                          salt      176.0
160   4176.0                   ground pork      176.0
161   4421.0                           pea      176.0
162   5838.0               italian sausage      174.0
163   6493.0                       chicken      173.0
164  20473.0                        masala      173.0
165   2377.0                     pie crust      171.0
166   2858.0                 peanut butter      168.0
167  23274.0                     vegetable      164.0
168  16420.0                       mustard      161.0
169   5145.0                        orange      161.0
170  16429.0                      rosemary      161.0
171  16276.0                          milk      157.0
172  16294.0      condensed milk sweetened      155.0
173  15720.0                        sherry      154.0
174  16382.0                      cardamom      153.0
175   2795.0                   kidney bean      151.0
176   1338.0                chocolate chip      150.0
177   3452.0                          beer      150.0
178   5593.0              hot pepper sauce      150.0
179   2104.0                         bread      149.0
180   4664.0                crushed tomato      149.0
181  20270.0                   white onion      148.0
182   6304.0                    peanut oil      148.0
183   1632.0                      cornmeal      148.0
184   1686.0               cup bread flour      148.0
185   1507.0                      molasses      146.0
186   5121.0                         mango      145.0
187  10895.0                        tomato      142.0
188   3698.0            yellow bell pepper      140.0
189   2664.0                        shrimp      139.0
190  16419.0                          dill      138.0
191   4520.0                frozen spinach      138.0
192   1718.0             package spaghetti      138.0
193   5015.0                        banana      133.0
194   4311.0                          corn      133.0
195  16427.0                         caper      132.0
196   5521.0              chicken bouillon      131.0
197  16400.0                       mustard      131.0
198   4380.0                ounce mushroom      130.0
199  23383.0                    peppercorn      129.0
200  16412.0                dried rosemary      128.0

In [355]:
df_countries.sort_index()

,country name,country adj,total recipe num,soy sauce recipes %,chicken recipes %,beef recipes %,cheese recipes %,egg recipes %,porc recipes %
ARG,argentina,argentinian,23,0,4.34783,4.34783,4.34783,39.1304,0
AUT,austria,austrian,30,0,0,3.33333,3.33333,70,0
BEL,belgium,belgian,15,0,13.3333,6.66667,13.3333,40,0
BGD,bangladesh,bangladeshi,14,0,7.14286,21.4286,0,14.2857,0
BRA,brazil,brazilian,88,2.27273,12.5,4.54545,18.1818,32.9545,0
CAN,canada,canadian,1167,6.34105,11.9966,5.74122,21.0797,29.3916,0
CHE,switzerland,swiss,29,0,3.44828,17.2414,37.931,34.4828,0
CHL,chile,chili,30,0,13.3333,43.3333,16.6667,0,0
CHN,china,chinese,247,65.1822,41.7004,2.02429,1.21457,31.5789,0
COL,colombia,colombian,13,0,46.1538,23.0769,15.3846,7.69231,0
CUB,cuba,cuban,79,0,12.6582,12.6582,5.06329,8.86076,0
CZE,czech republic,czech,26,0,0,3.84615,15.3846,80.7692,0
DEU,germany,german,319,0.626959,8.15047,7.52351,8.46395,54.5455,0
DOM,puerto rico,puerto-rican,54,0,7.40741,11.1111,7.40741,14.8148,0
EGY,egypt,egyptian,27,0,22.2222,11.1111,7.40741,22.2222,0
ESP,spain,spanish,131,0,22.1374,3.81679,4.58015,19.084,0
FIN,finland,finnish,18,0,5.55556,5.55556,5.55556,50,0
FRA,france,french,449,1.11359,18.7082,10.4677,28.9532,41.6481,0
GBR,scotland,scottish,51,1.96078,7.84314,9.80392,5.88235,29.4118,0
GRC,greece,greek,388,1.28866,16.2371,5.6701,44.5876,20.3608,0
GRL,denmark,danish,27,0,0,3.7037,7.40741,51.8519,0
HUN,hungary,hungarian,48,4.16667,20.8333,14.5833,12.5,54.1667,0
IDN,indonesia,indonesian,32,34.375,40.625,15.625,0,21.875,0
IND,india,indian,660,1.06061,21.3636,2.57576,2.57576,7.27273,0
IRL,ireland,irish,203,0.985222,10.3448,20.6897,10.8374,28.5714,0
ITA,italy,italian,2334,0.342759,19.5373,8.48329,56.898,27.3779,0
JAM,jamaica,jamaican,48,20.8333,29.1667,4.16667,10.4167,16.6667,0
JPN,japan,japanese,213,48.8263,12.6761,7.98122,5.6338,31.4554,0
KOR,south korea,korean,112,68.75,11.6071,37.5,1.78571,17.8571,0
LBN,lebanon,lebanese,55,0,5.45455,7.27273,1.81818,5.45455,0
MAR,morocco,moroccan,47,4.25532,42.5532,6.38298,4.25532,12.766,0
MEX,mexico,mexican,2200,1.04545,21.2727,11.8636,39.2273,8.77273,0
MYS,malaysia,malaysian,36,25,50,8.33333,2.77778,16.6667,0
NLD,netherlands,dutch,38,2.63158,7.89474,5.26316,5.26316,60.5263,0
NOR,norway,norwegian,32,0,0,0,0,56.25,0
NZL,new zealand,australian-and-new-zealander,548,9.48905,20.8029,3.46715,21.3504,16.2409,0
PAK,pakistan,pakistani,31,0,32.2581,6.45161,0,6.45161,0
PER,peru,peruvian,45,11.1111,24.4444,11.1111,11.1111,24.4444,0
PHL,philippines,filipino,137,29.1971,25.5474,11.6788,2.18978,21.1679,0
POL,poland,polish,124,0,9.67742,8.06452,14.5161,53.2258,0
PRT,portugal,portuguese,71,0,9.85915,5.6338,2.8169,35.2113,0
RUS,russia,russian,94,0,7.44681,12.766,9.57447,51.0638,0
SWE,sweden,swedish,107,0.934579,2.80374,14.9533,3.73832,62.6168,0
THA,thailand,thai,239,34.3096,40.1674,1.67364,1.25523,17.9916,0
TUR,turkey,turkish,36,2.77778,30.5556,30.5556,83.3333,72.2222,0
USA,united states of america,us-recipes,4472,3.37657,15.6753,7.55814,19.4767,28.0188,0
VNM,vietnam,vietnamese,65,26.1538,26.1538,10.7692,0,6.15385,0
ZAF,south africa,south-african,27,3.7037,11.1111,22.2222,3.7037,44.4444,0
invalid,israeli,israeli,24,0,8.33333,0,4.16667,33.3333,0